body {
	padding: 150px;
}

.nostar {
	width: 80px;
	height: 16px;
	background: url(../img/star-matrix.gif) no-repeat;
	position: relative;
}

.nostar li {
	width: 16px;
	height: 16px;
	float: left;
}

.nostar li a {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	text-indent: -999px;
	z-index: 10;
}

.nostar li a:hover {
	left: 0;
	width: 80px;
	background: url(../img/star-matrix.gif) no-repeat;
	z-index: 5;
}
/* 鼠标覆盖在当前第几颗星星上 */
.nostar li.onestar a:hover {background-position: 0 -96px;}
.nostar li.twostar a:hover {background-position: 0 -112px;}
.nostar li.threestar a:hover {background-position: 0 -128px;}
.nostar li.fourstar a:hover {background-position: 0 -144px;}
.nostar li.fivestar a:hover {background-position: 0 -160px;}

/* 选定后li的图片定位 */
.onestar {background-position: 0 -16px;}
.twostar {background-position: 0 -32px;}
.threestar {background-position: 0 -48px;}
.fourstar {background-position: 0 -64px;}
.fivestar {background-position: 0 -80px;}



